<div class="content-header">
  <div class="container-fluid">
    <h1>Lista de Serviços</h1>
  </div>
</div>

<div class="content">
  <div class="container-fluid">
    <table class="table">
      <thead>
        <tr>
          <th scope="col">ID</th>
          <th scope="col">nome</th>
          <th scope="col">Ações</th>
        </tr>
      </thead>
      <tbody>
        {{#each services}}
        <tr>
          <th>{{this.id}}</th>
          <td>{{this.name}}</td>
          <td>
            <a href="{{this.id}}/edit" class="btn btn-primary">Atualizar</a>
          </td>
        </tr>
        {{/each}}
      </tbody>
    </table>

    <div class="d-flex justify-content-center"></div>

    <div class="float-right">
      <a href="/services/create" class="btn btn-success">Novo Serviço</a>
    </div>
  </div>
</div>